*{
    margin: 0;
    padding: 0;
}

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-size: 100%;
}

form {
    display: block;
    margin-top: 0em;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/1.5 Microsoft YaHei,tahoma,\\5B8B\4F53,sans-serif;
    color: #717171;
    font-size: 12px;
    font-family: MicrosoftYaHei;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    /*margin-block-start: 1em;*/
    /*margin-block-end: 1em;*/
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /*padding-inline-start: 40px;*/
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ol, ul {
    list-style: none;
}

div {
    display: block;
}

cite, em, var, address, dfn {
    font-style: italic;
}

i {
    font-style: normal;
}

a {
    text-decoration: none;
}

.app{
    position: relative;
}

.top-header {
    width: 100%;
    height: 106px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAABWCAYAAADlqUfFAAAABHNCS…i8sowAAAAbSURBVCiRY2RYcOM/AwMDAxMDFIwyRhkjjQEAc4gDI5wD87YAAAAASUVORK5CYII=) repeat-x;
    z-index: 10;
}

.top-img {
    width: 980px;
    height: 106px;
    margin: 0 auto;
    background: url("../img/img-top.png") no-repeat;
}

.s-content {
    overflow: hidden;
    width: 980px;
    height: 100%;
    margin: 10px auto 100px;
    border: 1px solid #e1e2e5;
    box-shadow: 0 2px 4px rgba(0,0,0,.14);
    background: #fafafa;
    border-radius: 4px;
}

.s-left {
    float: left;
    width: 150px;
    height: 100%;
    overflow: hidden;
}

.s-right {
    float: left;
    width: 829px;
    border-left: 1px solid #ddd;
    background: #fff;
    min-height: 890px!important;
}

.s-right-home{
    display: none;
}

.s-right-home.right-on{
    display: block;
}

.s-right-vip{
    display: none;
}

.s-right-vip.right-on{
    display: block;
}

.s-right-info{
    display: none;
}

.s-right-info.right-on{
    display: block;
}

.s-right-avatar{
    display: none;
}

.s-right-avatar.right-on{
    display: block;
}

.s-right-upload{
    display: none;
}

.s-right-upload.right-on{
    display: block;
}

.s-right-coin{
    display: none;
}

.s-right-coin.right-on{
    display: block;
}

.s-title {
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #99a2aa;
    cursor: default;
    border-bottom: 1px solid #e1e2e5;
}

.s-ul {
    border-bottom: 1px solid #e1e2e5;
}

.s-list {
    width: 150px;
    height: 48px;
    line-height: 48px;
}

.s-left .on {
    background-color: #00a1d7!important;
}

.s-left .s-list:not(.on){
    cursor: pointer;
}

.s-left .s-list:not(.on):hover{
    background-color: #e1e2e5;
}

.s-icon {
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 36px;
    margin-left: 32px;
    background: url(https://s1.hdslb.com/bfs/static/account-fe/static/img/icons_m_2.57e5263.png);
}

.icon-0 {
    background-position: -23px -15px;
}

.s-left .on .icon-0 {
    background-position: -87px -15px!important;
}

.s-nav-name {
    margin-left: 12px;
    font-size: 14px;
    color: #222;
}

.s-left .on .s-nav-name {
    color: #fff;
}

.icon-1 {
    background-position: -23px -975px;
}

.s-left .on .icon-1 {
    background-position: -87px -975px!important;
}

.icon-2 {
    background-position: -23px -80px;
}

.s-left .on .icon-2 {
    background-position: -87px -80px!important;
}

.icon-3 {
    background-position: -23px -144px;
}

.s-left .on .icon-3 {
    background-position: -87px -144px!important;
}

.icon-4 {
    background-position: -23px -335px;
}

.s-left .on .icon-4 {
    background-position: -87px -335px!important;
}

.s-list-jump {
    width: 150px;
    height: 43px;
    border-bottom: 1px solid #e1e2e5;
    position: relative;
}

.s-list-jump:hover{
    background-color: #e1e2e5;
}

.s-list-link-jump {
    display: block;
    height: 100%;
    color: #222;
    font-size: 16px;
    text-align: center;
    line-height: 43px;
}

.s-list-jump-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(https://s1.hdslb.com/bfs/static/account-fe/static/img/icons_m_2.57e5263.png);
    background-position: -26px -731px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 14px;
}

.s-right-home {
    padding: 50px 20px 0;
    width: 789px;
}

.index-info {
    border-bottom: 1px solid #e5e9ef;
    padding-bottom: 40px;
    position: relative;
}

.home-head {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
}

.home-head img {
    width: 100%;
    height: 100%;
}

.gotoSpace {
    position: absolute;
    text-align: center;
    width: 64px;
    height: 64px;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.66);
    font-size: 12px;
    color: #fff;
    border-radius: 64px;
    line-height: 64px;
    cursor: pointer;
    display: none;
}

.home-right {
    display: inline-block;
    margin-left: 16px;
    width: 684px;
}

.home-top-msg-name {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #222;
    margin-right: 8px;
    cursor: default;
}

.home-userstatus {
    border: 1px solid #99a2aa;
    margin: 0 8px;
    color: #99a2aa;
    border-radius: 4px;
    font-size: 12px;
    cursor: default;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 4px;
}

.home-userstatus.vip{
    background-color: #fb7299!important;
    color: #ffffff;
    border: none;
}

.home-top-level {
    position: relative;
}

.home-top-level-all {
    display: inline-block;
    width: 684px;
    margin-top: 10px;
}

.home-to-space, .home-to-update {
    position: absolute;
    top: 8px;
    width: 70px;
    height: 22px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ced3db;
    color: #6d757a;
    text-align: center;
    cursor: pointer;
    line-height: 24px;
}

.home-to-space {
    left: 80px;
    padding-right: 10px;
}

.m-arrow {
    position: absolute;
    background: url(https://s1.hdslb.com/bfs/static/account-fe/static/img/icons_m_2.57e5263.png) -26px -726px no-repeat;
    width: 18px;
    height: 22px;
    top: 2px;
    right: 0;
}

.home-top-bp {
    margin-top: 25px;
}

.coin-link {
    display: inline-block;
    width: 20px;
    margin-right: 8px;
    height: 20px;
    background: url(https://s1.hdslb.com/bfs/static/account-fe/static/img/icons_m_2.57e5263.png) no-repeat;
    background-position: -150px -470px;
}

.curren-b-num {
    margin-right: 12px;
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    color: #222;
    cursor: default;
    vertical-align: top;
    height: 20px;
}

.s-right-title {
    height: 50px;
    padding-left: 30px;
    border-bottom: 1px solid #ddd;
}

.s-right-title-icon {
    float: left;
    width: 4px;
    height: 16px;
    margin-top: 18px;
    background-color: #00a1d6;
    border-radius: 4px;
}

.s-right-title-text {
    float: left;
    margin: 15px 0 0 5px;
    color: #00a1d6;
    font-size: 14px;
    cursor: default;
}

.big-name-warp {
    margin: 0 20px;
    padding: 30px 0 20px;
    border-bottom: 1px solid #e5e9ef;
}

.big-head {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.big-head img {
    width: 100%;
    height: 100%;
}

.big-name-left {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 722px;
    margin-left: 12px;
}

.big-name-top, .big-name-bottom {
    width: 420px;
    margin-top: 5px;
}

.big-user-name {
    font-size: 16px;
    color: #222;
    line-height: 16px;
    vertical-align: text-bottom;
    font-weight: 700;
}

.big-name-bottom {
    margin-top: 10px;
}

.big-name-bottom p {
    font-size: 12px;
    color: #99a2aa;
    line-height: 12px;
}

.big-member-btn {
    position: relative;
    background: #00a1d6;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    line-height: 14px;
    padding: 9px 8px;
    position: absolute;
    top: 8px;
    right: 136px;
}

.big-member-btn.is-vip{
    background: #f25d8e;
}

.user-setting-warp {
    padding: 20px 20px 0;
    position: relative;
}

.user-local, .user-my-aim, .user-my-btn, .user-my-date, .user-my-love, .user-my-sex, .user-my-sign, .user-nick-name, .user-nick-rel-name {
    float: left;
    width: 789px;
}

.el-form-item {
    margin-bottom: 22px;
}

.el-form-item__label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #48576a;
    padding: 11px 12px 11px 0;
    box-sizing: border-box;
    width: 95px;
    text-align: right;
    margin-right: 20px;
    float: left;
    line-height: 30px;
}

.el-form-item__content {
    line-height: 30px;
    position: relative;
    font-size: 14px;
}

.el-input, .el-input__inner {
    width: 100%;
    display: inline-block;
}

.el-input {
    position: relative;
    font-size: 14px;
}

.user-nick-name .el-input, .user-nick-name .el-input__inner {
    float: left;
    width: 225px;
    height: 30px;
    margin-right: 40px;
}

.el-input__inner {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.nick-name-not {
    color: #aaa;
    margin-left: 110px;
}

.el-textarea {
    width: 100%;
    vertical-align: bottom;
}

.el-textarea__inner{
    margin-top: 17px;
}

.user-my-sign .el-textarea, .user-my-sign .el-textarea .el-textarea__inner {
    float: left;
    width: 618px;
    height: 88px;
    resize: none;
}

.user-my-sign{
    padding-bottom: 45px;
}

.el-radio-button__inner, .el-radio-group, .el-radio__input {
    line-height: 1;
    vertical-align: middle;
}

.el-radio-group {
    display: inline-block;
    font-size: 0;
    margin-top: 12px;
}

.el-radio-button, .el-radio-button__inner {
    position: relative;
    display: inline-block;
}

.el-radio-button__orig-radio {
    opacity: 0;
    outline: 0;
    position: absolute;
    z-index: -1;
    left: -999px;
}

.el-radio-button__inner {
    white-space: nowrap;
    background: #fff;
    border: 1px solid #bfcbd9;
    border-left: 0;
    color: #1f2d3d;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 0;
}

.user-my-sex .el-radio-button__inner {
    margin-right: 20px;
    padding: 5px 8px;
    border: 1px solid #bfcbd9;
    border-radius: 5px!important;
    background: #f4f4f4;
    color: #717171;
}

.el-radio-button:first-child .el-radio-button__inner {
    border-left: 1px solid #bfcbd9;
    border-radius: 4px 0 0 4px;
    box-shadow: none!important;
}

.el-radio-group .is-active span{
    color: #fff;
    background-color: #22a1d6!important;
    border-color: #22a1d6!important;
}

.el-button, .el-checkbox-button__inner {
    -webkit-appearance: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    outline: 0;
    text-align: center;
}

.el-button, .el-textarea__inner {
    font-size: 14px;
    box-sizing: border-box;
}

.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #c4c4c4;
    color: #1f2d3d;
    margin: 0;
    padding: 10px 15px;
    border-radius: 4px;
}

.el-button--primary {
    color: #fff;
    border-color: #20a0ff;
    width: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #00a1d6!important;
}

.el-button:focus, .el-button:hover {
    color: #20a0ff;
    border-color: #20a0ff;
}

.el-button--primary:focus, .el-button--primary:hover {
    background: #4db3ff;
    border-color: #4db3ff;
    color: #fff;
}

.s-right-bottom {
    padding: 0 20px;
}


.face-tool {
    padding: 20px 0;
}

.tool-container {
    width: 200px;
    height: 200px;
    border: 1px solid #e5e9ef;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.face-g-preview {
    border: 1px solid #e5e9ef;
    border-radius: 100px;
    margin: 0 auto 4px;
    width: 200px;
    height: 200px;
    position: relative;
}

.face-g-action {
    border: 1px solid;
    border-radius: 27px;
    cursor: pointer;
    text-align: center;
    width: 54px;
    height: 54px;
    position: absolute;
    top: 78px;
    background-color: #00a1d6;
    border-color: #00a1d6;
    left: -27px;
}

.face-g-action p {
    position: relative;
    top: 11px;
    color: #ffffff;
}

.face-g-avatar {
    border-radius: 48px;
    display: block;
    width: 96px;
    height: 96px;
    margin: 52px auto 0;
}

.upload-box {
    position: relative;
}

.cropper-modal .modal {
    width: 830px;
    text-align: center;
}

.modal-head {
    position: relative;
    text-align: center;
    padding: 0 20px;
    border-bottom: 1px solid #e5e9ef;
}

.head-wrap {
    position: relative;
    font-size: 14px;
    color: #222;
    height: 50px;
    line-height: 50px;
    text-align: left;
}

.modal-head a {
    color: #6d757a;
}

.modal-content {
    padding: 80px 20px 56px;
    display: inline-block;
}

.img-clip-wrap {
    float: left;
    position: relative;
    margin-right: 40px;
}

.container-bg {
    width: 180px;
    height: 180px;
    background-color: #000;
    border-radius: 4px;
    border: 1px solid #e5e9ef;
}

.img-container {
    position: relative;
    margin: auto;
}

.img-container img {
    position: relative;
    width: 180px;
    height: 180px;
}

.first-change-lb {
    cursor: pointer;
    background: #f1f2f5;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.first-change-lb i {
    margin: 52px auto 0;
    width: 54px;
    height: 46px;
    display: block;
    background: url(https://s1.hdslb.com/bfs/static/account-fe/static/img/icons_m_2.57e5263.png);
    background-position: -101px -1065px;
}

.first-change-lb span {
    display: block;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #6d757a;
    line-height: 20px;
    margin-top: 10px;
    padding: 0 12px;
    letter-spacing: 0;
}

.reset-img {
    position: absolute;
    bottom: -28px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.reset-img label {
    font-size: 12px;
    color: #6d757a;
    cursor: pointer;
}

.reset-img label i {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    background-image: url(https://s1.hdslb.com/bfs/static/account-fe/static/img/icons_m_2.57e5263.png);
    background-position: -23px -1303px;
    cursor: pointer;
}

.border-line {
    height: 182px;
    width: 1px;
    background: #e5e9ef;
    float: left;
}

.img-preview-wrap {
    margin-left: 40px;
    margin-top: 30px;
    float: left;
}

.img-new-wrap {
    margin-left: 40px;
    margin-top: 30px;
    float: left;
}

.pre-container {
    width: 96px;
    height: 96px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #e6eaf0;
    background-size: cover;
}

.new-container {
    width: 96px;
    height: 96px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #e6eaf0;
    background-size: cover;
}

.pre-info {
    margin-top: 20px;
    font-size: 12px;
    color: #99a2aa;
}

.new-info {
    margin-top: 20px;
    font-size: 12px;
    color: #99a2aa;
}

.descript {
    line-height: 16px;
    color: #99a2aa;
}

.modal-footer {
    text-align: center;
    margin-top: 40px;
}

.modal-btn {
    display: inline-block;
    width: 140px;
    height: 40px;
    font-size: 14px;
    line-height: 32px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn-confirm {
    border: 1px solid #00a1d6;
    color: #fff;
    background-color: #00a1d6;
}

.btn-confirm.disabled {
    background: #f4f5f7;
    border-color: #f4f5f7;
    color: #ccd0d7;
    cursor: auto;
}

.bb-intro-top {
    width: 100%;
    border-top: 1px solid #ccd0d7;
    border-right: 1px solid #ccd0d7;
    border-left: 1px solid #ccd0d7;
    border-bottom: 1px solid #e2e9ed;
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
    background: #eef2f4;
    padding: 12px 28px;
    min-height: 46px;
}

.bb-intro-top .b-icon-title {
    display: inline-block;
    font-size: 16px;
    color: #6c818c;
    vertical-align: middle;
    cursor: default;
}

.b-info {
    overflow: hidden;
    background: #fff;
    border-left: 1px solid #ccd0d7;
    border-right: 1px solid #ccd0d7;
    border-bottom: 1px solid #ccd0d7;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    padding: 0 16px;
}

.b-info .info-tip {
    margin-top: 15px;
    margin-bottom: 13px;
    font-size: 14px;
    color: #99a2aa;
    letter-spacing: 0;
}

.b-info .balance-price {
    display: inline-block;
    font-size: 50px;
    color: #01b5e7;
}

.b-info .balance-name {
    display: inline-block;
    font-size: 16px;
    margin-left: 4px;
    color: #01b5e7;
}

.trade-list {
    overflow: hidden;
    border-left: 1px solid #ccd0d7;
    border-right: 1px solid #ccd0d7;
    border-bottom: 1px solid #ccd0d7;
    border-radius: 0 0 4px 4px;
    padding: 0 16px;
}

.trade-list, .trade-wrapper {
    background: #fff;
    box-sizing: border-box;
}

.num-tip {
    margin-top: 15px;
    margin-bottom: 13px;
    font-size: 14px;
    color: #99a2aa;
    letter-spacing: 0;
}

.trade-list-wrapper {
    overflow: hidden;
}

.trade-wrapper {
    width: 180px;
    height: 80px;
    margin-right: 16px;
    margin-bottom: 16px;
    border: 1px solid #e7ecf1;
    border-radius: 4px;
    font-size: 24px;
    color: #222;
    letter-spacing: 0;
    line-height: 24px;
    float: left;
    cursor: pointer;
}

.trade-wrapper .bb-name {
    margin-left: 5px;
    font-size: 14px;
}

.trade-wrapper>div {
    display: table;
    margin: 18px auto 0;
}

.trade-wrapper>div>div {
    margin-top: 8px;
    font-size: 14px;
    color: #757575;
    line-height: 14px;
}

.trade-wrapper.is-selected {
    border: 1px solid #02a7e3;
    color: #02a7e3;
    cursor: default;
}

.trade-wrapper.is-selected:not(.trade-customn)>div>div {
    color: #02a7e3;
}

.trade-customn {
    width: 376px;
    margin-right: 0;
}

.trade-customn .tips {
    margin: 29px 0 0 18px;
    font-size: 14px;
    color: #999;
    letter-spacing: 0;
}

.trade-wrapper>div {
    display: table;
    margin: 18px auto 0;
}

.trade-customn .enter-wrapper{
    width: 100%;
    padding-left: 11px;
    margin-top: 13px;
    box-sizing: border-box;
}

.trade-customn .enter-tip {
    width: 100%;
    margin-top: 1px;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    letter-spacing: 0;
}

.trade-customn input {
    width: 100%;
    height: 33px;
    padding: 0;
    margin: 0;
    line-height: 33px;
    font-size: 24px;
    color: #222;
    letter-spacing: 0;
    border: 0;
    outline: unset;
}

.qrpay-group {
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
}

.qrpay-group .qrpay-content {
    margin-left: 18px;
}

.qrpay-group .qrpay-content .price {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 32px;
    color: #02a7e3;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: 30px;
}

.qrpay-group .qrpay-content .price-type {
    font-size: 18px;
}

.qrpay-group .qrpay-content .more-pay {
    margin-top: 20px;
    padding-bottom: 40px;
}

.qrpay-group .qrpay-content .more-pay .more-btn {
    background: #02a7e3;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    width: 119px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}

.qrpay-group .qr-icon-group {
    position: relative;
}

.qrpay-group .qr-icon-group .qrcode-icon {
    display: inline-block;
    width: 148px;
    height: 148px;
    position: relative;
}

.icon-5 {
    background-position: -23px -272px;
}

.pw-input-group {
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.pw-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    border-right: 0;
}

.pw-input-group__prepend {
    width: 360px;
    text-align: center;
}

.pw-input-group--append .pw-input__inner, .pw-input-group__prepend {
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}

.pw-input-group__append, .pw-input-group__prepend {
    background-color: #f5f7fa;
    color: #909399;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #dcdfe6;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: nowrap;
}

.pw-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    -o-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    -moz-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}

.pw-input-group>.pw-input__inner {
    vertical-align: middle;
    display: table-cell;
}

.form-group {
    width: 350px;
    margin: 0 auto;
}

.form-message {
    min-height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #e40c0c;
}

.pw-button--primary {
    color: #fff;
    background-color: #00a1d6;
    border-color: #00a1d6;
}

.pw-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    -o-transition: .1s;
    -moz-transition: .1s;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.pw-container {
    width: 980px;
    margin: 0 auto;
    margin-top: 70px;
}

.s-right-pw{
    display: none;
}

.s-right-pw.right-on{
    display: block;
}