.international-header {
    -webkit-font-smoothing: antialiased;
    font: 14px -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
    position: relative;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

.international-header .mini-type, .van-popover .mini-type {
    position: relative;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.mini-header{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 56px;
}

.mini-header__content {
    box-sizing: border-box;
    padding: 10px 24px;
    line-height: 30px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.nav-link .nav-link-ul {
    height: 36px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.nav-link .nav-link-ul .nav-link-item {
    margin-right: 12px;
}

.international-header .mini-type .nav-link .nav-link-ul .nav-link-item .link, .van-popover .mini-type .nav-link .nav-link-ul .nav-link-item .link {
    color: #212121;
    text-shadow: none;
}

.international-header a{
    text-decoration: none;
    color: black;
}

.link img{
    position: relative;
    top: 0px;
    display: inline-block;
}

.link .item{
    float: left;
    position: relative;
    display: inline-block;
    top: -5px;
    margin-left: 12px;
    cursor: pointer;
    white-space: nowrap;
}

.nav-link-ul li{
    display: inline;
}

.international-header .nav-search-box {
    margin: 0 10px;
    width: 600px;
    transition: 0.3s width;
    display: inline-block;
    top: auto;
}

header .nav-search {
    position: relative;
}

.bili-header-m .nav-search .nav-search-keyword, .international-header .nav-search .nav-search-keyword {
    overflow: hidden;
    width: 500px;
    height: 34px;
    border: none;
    background-color: #eeeeee;
    box-shadow: none;
    color: #999;
    font-size: 14px;
    line-height: 34px;
    transition: all 0.2s;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 14px;
    text-shadow: none;
    text-align: start;
    display: inline;
}

.international-header .nav-search .nav-search-btn {
    position: absolute;
    width: 48px;
    height: 36px;
    border: none;
    border-radius: 2px;
    background: url("../img/nav_search_btn.png") #E7E7E7 no-repeat center;
    background-size: 40% 50%;
    line-height: 26px;
    cursor: pointer;
    display: inline-block;
}

.international-header .nav-search .nav-search-submit {
    position: absolute;
    right: 16px;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    background-image:url("../img/nav_search_btn.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.nav-user-center {
    display: flex;
    flex-shrink: 0;
}

.nav-user-center .user-con {
    display: flex;
    align-items: center;
}

.nav-user-center .user-con .item {
    position: relative;
    display: flex;
    margin-left: 12px;
    cursor: pointer;
}

.mini-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.mini-avatar img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 0.2s;
}

.nav-item{
    float: left;
    text-align: center;
    /* line-height: 42px; */
    /* height: 42px; */
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.mini-type .nav-user-center .user-con .item .name {
    color: #212121;
    text-shadow: none;
}

.mini-upload {
    cursor: pointer;
    position: relative;
    color: #fff;
    font-size: 14px;
    display: block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #FB7299;
    border-radius: 2px;
    margin-left: 14px;
}

.h {
    position: relative;
    z-index: 10;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.h .h-forbid {
    height: 42px;
    margin-bottom: 10px;
    background-color: #e5e9ef;
    border-radius: 4px;
}

.h .h-forbid .f-wrap {
    width: 203px;
    margin: 0 auto;
}

.h .h-forbid .f-wrap .f-icon {
    background-image: url(//s1.hdslb.com/bfs/static/jinkela/space/asserts/icons.png);
    background-position: -664px -458px;
    display: inline-block;
    width: 80px;
    height: 42px;
    margin-right: 20px;
}

.h .h-forbid .f-wrap .f-txt {
    font-size: 14px;
    color: #222;
    line-height: 42px;
    display: inline-block;
    vertical-align: top;
}

.h .h-inner {
    background-position-y: 0%;
    background-size: cover;
    transition: background-image .2s ease,background-size 1s ease;
    padding-top: 116px;
    position: relative;
}

.h .h-user {
    position: relative;
    z-index: 1;
}

.h .h-info {
    margin-left: 20px;
    padding-bottom: 16px;
}

.clearfix {
    display: block;
}

.h .h-avatar {
    position: relative;
    float: left;
    width: 64px;
    height: 64px;
    border: 2px solid hsla(0,0%,100%,.4);
    border-radius: 52px;
}

.h .h-avatar-img {
    width: 64px;
    height: 64px;
    background: #fff;
    border-radius: 48px;
}

.h .h-avatar .avatar-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    background: rgba(0,0,0,.6);
    font-size: 12px;
    color: #fff;
    line-height: 64px;
    text-align: center;
    opacity: 0;
    border-radius: 50%;
    transition: opacity .2s;
}

.user-auth-subscript {
    position: absolute;
    display: none;
    z-index: 9;
    background-image: url("../img/test.png");
    background-repeat: no-repeat;
}

.user-auth-subscript.avatar-m {
    right: 0;
    top: 44px;
    width: 20px;
    height: 20px;
}

.h .h-basic {
    float: left;
    color: #fff;
    font-size: 0;
    margin: 10px 0 0 20px;
}

.h .h-basic .h-name {
    display: inline-block;
    margin-right: 5px;
    font-weight: 700;
    line-height: 18px;
    font-size: 18px;
    vertical-align: middle;
}

.h .h-ceritification {
    background-position: -217px -792px;
    display: none;
    width: 11px;
    height: 18px;
    margin: 0 1px 0 6px;
    vertical-align: middle;
}

.icon {
    vertical-align: middle;
    background-repeat: no-repeat;
}

.h .gender {
    display: none;
    width: 21px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
    background-position: -212px -922px;
}

.h .h-basic .h-basic-spacing {
    margin-top: 8px;
}

.h .h-sign {
    color: #d6dee4;
    font-size: 12px;
    line-height: 26px;
    height: 26px;
    width: 740px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.h .h-sign-2 {
    background: transparent;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    color: #d6dee4;
    font-size: 12px;
    font-family: Microsoft Yahei;
    line-height: 26px;
    height: 26px;
    margin-left: -5px;
    padding: 0 5px;
    position: relative;
    top: -1px;
    width: 730px;
}

.space_input {
    line-height: 28px;
    height: 28px;
    padding: 0 10px;
    transition: all .3s ease;
    vertical-align: top;
    border: 1px solid #ccd0d7;
    border-radius: 0;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
}

.modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1010;
    background-color: rgba(0,0,0,.5);
}

.modal-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    margin: 0 auto;
    word-break: break-all;
    line-height: 22px;
    z-index: 1011;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    border-radius: 4px;
    transition: box-shadow .2s linear;
}

.modal-wrapper .modal-header {
    position: relative;
    font: 12px/1.11 Microsoft Yahei,Tahoma,Arial,Helvetica,STHeiti;
}

.modal-wrapper .modal-header-close {
    position: absolute;
    text-decoration: none;
    top: 13px;
    right: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal-wrapper .modal-title {
    display: block;
    font-size: 16px;
    line-height: 48px;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
}

.h .modal-wrapper .modal-body {
    padding: 30px 40px!important;
}

.modal-wrapper .modal-body {
    padding: 30px 60px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    min-width: 9em;
}

.h .report-popup-tip {
    line-height: 18px;
    font-size: 12px;
    color: #99a2aa;
    text-align: left;
}

.h .report-popup-list {
    margin-top: 18px;
    font-size: 0;
}

ol, ul {
    list-style: none;
}

.h .report-popup-item {
    float: left;
    width: 90px;
    line-height: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
}

.h .report-popup-item-checkbox {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    border: 1px solid #bec3cc;
    border-radius: 2px;
}

.h .report-popup-item-text {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #222;
    vertical-align: middle;
}

.h .h-version {
    position: absolute;
    top: 15px;
    right: 57px;
    display: inline-block;
    cursor: pointer;
}

.h .h-v-btn {
    background: rgba(0,0,0,.45);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    line-height: 30px;
    transition: all .1s ease;
    padding: 0 10px;
    margin-right: -40px;
}

.modal-wrapper .modal-footer {
    padding: 0 0 30px;
    text-align: center;
}

.btn-container {
    font-size: 0;
    white-space: nowrap;
}

.btn-container.btn-center {
    text-align: center;
}

.btn {
    display: inline-block;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    padding: 0 10px;
    margin-right: 20px;
    line-height: 30px;
    min-width: 70px;
    transition: all .2s ease;
    font-size: 0;
    color: #666;
    text-align: center;
    vertical-align: middle;
    outline: none;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
}

.btn .primary {
    color: #fff;
    background-color: #00a1d6;
    border-color: #00a1d6;
}

.btn-content {
    font-size: 12px;
    vertical-align: top;
}

.btn .default {
    color: #666;
    background-color: #fff;
    border-color: #d9d9d9;
}

.n {
    margin-bottom: 70px;
}

.n .n-inner {
    height: 66px;
    background: #fff;
    box-shadow: 0 0 0 1px #eee;
    padding: 0 20px;
    font-size: 0;
}

.n .n-tab-links {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    left: 28px;
    position: absolute;
    bottom: -5px;
}

.n .n-btn {
    display: inline-block;
    font-size: 0;
    line-height: 10px;
    margin-right: 16px;
    position: relative;
    text-decoration: none;
    top:38px;
}

.n .n-btn.active {
    color: #00a1d6;
}

.n .n-tab-links .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 20px;
    margin-right: 4px;
    vertical-align: bottom;
}

.n .n-cursor {
    background: #00a1d6;
    width: 64px;
    height: 3px;
    transition: all .2s ease;
    position: absolute;
    bottom: -50px;
    left: 0;
}

.n .n-text {
    font-size: 13px;
}

.n .n-num {
    vertical-align: 250%;
}

.n .n-statistics {
    float: right;
    height: 66px;
    padding-top: 50px;
}

.n .n-data {
    display: -ms-flexbox;
    display: block;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    float: left;
    width: 58px;
    height: 66px;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}

.n .n-data .n-data-k {
    line-height: 14px;
    font-size: 12px;
    color: #99a2aa;
}

.n .n-data .n-data-v {
    line-height: 16px;
    margin-top: 5px;
    color: #222;
    font-size: 12px;
}

.n .n-data.router-link-active .n-data-k, .n .n-data.router-link-active .n-data-v {
    color: #00a1d6;
}

.n-fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    transform: translateY(-70px);
    transition: transform .3s ease;
}

.n-fix .n-avatar {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
}

.n-fix .n-avatar img {
    display: block;
    width: 24px;
}

.n-fix .n-text {
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-index .col-1 {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    float: left;
    padding: 15px 20px;
    width: 1058px;
}

.section {
    border-bottom: 1px solid #eee;
    margin-bottom: 17px;
    position: relative;
}

.section-title {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    padding: 0 0 15px;
    position: relative;
}

.section-title .t {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #000;
}

.be-tab, .be-tab-item {
    position: relative;
}

.be-tab-cursor {
    background: #00a1d6;
    width: 52px;
    height: 3px;
    transition: all .2s ease;
    position: absolute;
    bottom: 25px;
    left: 0;
}

.page-index .video .be-tab {
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    margin-left: 10px;
}

.section .more {
    background-position: -310px -405px;
    border: 1px solid #b8c0cc;
    border-radius: 4px;
    color: #6d757a;
    font-size: 12px;
    line-height: 22px;
    transition: border .2s ease;
    padding: 2px 7px 2px 7px;
    top: 6px;
    right: 0;
}

.page-index .col-1 .section .more {
    background-position: -310px -405px;
    text-decoration: none;
    position: absolute;
}

.be-tab-item {
    float: left;
    font-size: 14px;
    margin-right: 20px;
    line-height: 28px;
    vertical-align: top;
    cursor: pointer;
}

.be-tab-item.is-active {
    color: #00a1d6;
}

.page-index .video .be-tab-item {
    padding: 0 0 3px;
    margin-right: 15px;
    font-size: 12px;
    top: -8px;
}

.be-tab-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #ff3c3c;
    opacity: 0;
    cursor: pointer;
}

input, textarea {
    outline: none;
}

.page-index .content {
    max-height: 380px;
    overflow: hidden;
}

.page-index .full-rows .content {
    max-height: 935px;
}

.small-item {
    display: block;
    float: left;
    width: 160px;
    position: relative;
    margin: 0 0 3px;
    padding: 10px;
}

.page-index .content .small-item:nth-child(4n+1) {
    padding-left: 10px;
}

.fav-content .small-item:nth-child(6n+1){
    padding-left: 10px;
}

.main-content .small-item{
    width: 156px;
}

.main-content .small-item:nth-child(7n+1){
    padding-left: 10px;
}

.small-item .cover {
    background: 50%;
    background-size: cover;
    border-radius: 4px;
    display: block;
    width: 160px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.small-item .length {
    background: #111;
    background: rgba(0,0,0,.5);
    border-radius: 5px 0 0 0;
    color: #fff;
    line-height: 20px;
    transition: top .2s ease;
    padding: 0 6px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.small-item .title {
    display: block;
    line-height: 20px;
    height: 38px;
    margin-top: 6px;
    overflow: hidden;
    text-decoration: none;
    color: #000;
}

.small-item .meta {
    color: #999;
    white-space: nowrap;
    font-size: 0;
    margin-top: 6px;
    height: 14px;
    line-height: 14px;
}

.small-item .meta>span:first-child {
    width: 72px;
}

.small-item .meta>span {
    display: inline-block;
    white-space: nowrap;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    overflow: hidden;
}

.fav-main {
    float: left;
    width: 920px;
    min-height: 600px;
    border-left: 1px solid #eee;
}

.col-full {
    background: #fff;
    padding: 20px;
}

.fav-main {
    float: left;
    width: 1098px;
    min-height: 600px;
    border: 1px solid #eee;
    left: -20px;
}

.fav-main .fav-header {
    margin: 20px 20px 0;
}

.fav-main .fav-info {
    height: 30px;
    margin-top: 15px;
}

.fav-main .fav-filters {
    float: right;
}

.fav-main .filter-item {
    float: left;
    line-height: 10px;
    margin-right: 26px;
    font-size: 14px;
    color: #222;
}

.fav-main .filter-item .text {
    display: block;
    cursor: pointer;
    vertical-align: middle;
}

.be-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.icon-arrow {
    width: 16px;
    height: 20px;
    margin-left: 4px;
    display: inline-block;
}

.be-dropdown-menu {
    position: fixed;
    top: 40px;
    z-index: 10;
    padding: 6px 0;
    background-color: #fff;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.14);
}

.be-dropdown-item {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #222;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background-color .2s ease;
    cursor: pointer;
}

.fav-main .filter-item.search {
    height: 28px;
    margin: 0;
    margin-top: -10px;
    font-size: 0;
    border: 1px solid #ccd0d7;
    border-radius: 14px;
    white-space: nowrap;
    transition: border-color .2s ease;
}

.fav-main .search-input {
    position: relative;
    display: inline-block;
    width: 148px;
    height: 28px;
    margin: 0 9px 0 11px;
    vertical-align: top;
}

.fav-main .search-input input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 120px;
    padding: 0;
    font-size: 12px;
    color: #222;
}

.fav-main .search-input .icon-search {
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 28px;
    background-position: -1111px -82px;
    cursor: pointer;
}

.main-content {
    float: left;
    width: 1100px;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    margin-left: -20px;
}

.page-head {
    position: relative;
}

.breadcrumb {
    line-height: 24px;
    font-size: 0;
    vertical-align: middle;
}

.breadcrumb .item {
    display: inline-block;
    font-size: 18px;
    color: #6d757a;
    vertical-align: middle;
}

.breadcrumb .item.cur {
    color: #222;
}

.page-head .v-filter-line {
    position: absolute;
    top: 0;
    right: 0;
}

.v-filter-line .be-tab {
    float: left;
}

.v-filter-line .be-tab .be-tab-cursor{
    bottom: 0;
    width: 60px;
}

.submit-video-type-filter {
    background: #edf2f9;
    border-radius: 4px;
    line-height: 36px;
    margin: 18px 0 10px;
    padding: 0 20px;
}

.submit-video-type-filter a {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
}

.submit-video-type-filter a.active {
    color: #00a1d6;
}

.submit-video-type-filter a .count {
    color: #aaa;
    margin-left: 8px;
}

.main-content>.section {
    border-bottom: none;
    margin-bottom: 0;
}

.col-follow{
    background: #fff;
}

.follow-sidenav {
    position: relative;
    float: left;
    width: 160px;;
    font-size: 14px;
    color: rgb(34, 34, 34);
    box-sizing: border-box;
    border: 1px solid rgb(238, 238, 238);
}

.follow-sidenav .follow-list-container {
    position: relative;
    max-height: 440px;
    overflow-y: hidden;
}

.ps {
    overflow: hidden!important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.follow-sidenav .follow-list-container .follow-list{
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0
}

.follow-sidenav .follow-list-container .follow-item {
    color: rgb(0, 0, 0);
    position: relative;
    white-space: nowrap;
    font-size: 0px;
    transition: background-color 0.3s ease 0s;
    overflow: hidden;
}

.follow-sidenav .follow-list-container .follow-item.cur {
    background-color: rgb(0, 161, 214);
    color: rgb(255, 255, 255);
}

.follow-sidenav .follow-list-container .follow-item .icon-follow {
    width: 20px;
    height: 18px;
    margin-left: 10px;
}

.follow-sidenav .text {
    display: inline-block;
    line-height: 44px;
    width: 78px;
    margin-right: -10px;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}

.follow-sidenav .num {
    display: inline-block;
    width: 50px;
    font-size: 12px;
    color: rgb(153, 162, 170);
    vertical-align: middle;
    text-align: center;
}

.follow-sidenav .follow-list-container .follow-item .router-link-active{
    color: rgb(255, 255, 255);
}

.follow-main {
    float: left;
    width: 920px;
    min-height: 600px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid rgb(238, 238, 238);
}

.follow-main .follow-header {
    margin: 20px 20px 0;
}

.follow-main .follow-header.follow-header-info {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e9ef;
}

.follow-content{
    border-bottom: none;
    margin-bottom: 0;
}

.follow-content .search-empty-hint {
    display: none;
    background-image: url(//s1.hdslb.com/bfs/static/jinkela/space/asserts/nodata02.png);
    background-position: center 120px;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: #6d757a;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    padding: 340px 0 80px;
}

.follow-main .content{
    padding-bottom: 10px;
}

.follow-main .relation-list {
    padding: 0 20px 20px;
}

.list-item {
    border-bottom: 1px solid #eee;
    display: block;
    padding: 20px 0;
    position: relative;
    line-height: 1;
}

.list-item img {
    border-radius: 60px;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 0 1px #edf2f9;
    display: block;
}

.list-item .cover {
    border-radius: 48px;
    overflow: visible;
    margin-left: 0;
    background: 50%;
    background-size: cover;
    display: block;
    float: left;
    position: relative;
}

.list-item .content {
    padding: 0 200px 0 0;
    position: relative;
    margin-left: 88px;
    margin-top: 10px;
}

.list-item .title {
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.list-item .auth-description {
    line-height: 14px;
    font-size: 12px;
    color: #6d757a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-item .this-is-vip {
    color: #fb7299;
}

.fans-action {
    position: absolute;
    right: 0;
    top: 9px;
}

.fans-action-follow {
    background-color: #e5e9ef;
    position: relative;
    border-radius: 4px;
    font-size: 0;
    color: #6d757a;
    padding: 4px 10px;
    line-height: 16px;
    border: 0;
}

.fans-action-text {
    line-height: 16px;
    font-size: 12px;
    vertical-align: middle;
    cursor: pointer;
}