a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.clearfix {
    zoom: 1;
}

.v-wrap {
    width: 1007px;
    padding: 0px;
    margin: 20px auto;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.v-wrap .col-1 {
    width: 100%;
}

.col-1{
    width: 657px;
}

.v-wrap .up-info, .v-wrap .video-info {
    margin-bottom: 16px;
}

.video-info .video-title {
    font-size: 18px;
    font-weight: 500;
    color: #212121;
    line-height: 26px;
    height: 26px;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-info .video-title .tit {
    vertical-align: middle;
}

.video-info .video-data {
    margin-top: 11px;
    font-size: 12px;
    height: 16px;
    color: #999;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-info .video-data span {
    display: inline-block;
    height: 16px;
}

.video-info .video-data .a-crumbs {
    margin-right: 16px;
}

.video-data .copyright {
    margin-left: 16px;
    display: inline-block;
    font-size: 12px;
}

.player-warp{
    height: auto;
}

.player-block{
    z-index: 10;
    width: 657px;
    height: 504px;
    position: static;
}

.player-block .player{
    height: 100%;
    width: 100%;
}

.relative {
    position: relative;
}

.pilipili-player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: left;
    -webkit-box-shadow: 0 0 8px #e5e9ef;
    box-shadow: 0 0 8px #e5e9ef;
    white-space: nowrap;
    zoom: 1;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
    line-height: 1;
}

.pilipili-player * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pilipili-player input, .pilipili-player textarea {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: initial;
}

.pilipili-player .pilipili-player-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: auto;
}

.pilipili-player .pilipili-player-area .pilipili-player-video-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: 0;
    z-index: auto;
    overflow: hidden;
    background-color: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pilipili-player-video-wrap .pilipili-player-video-state {
    display: none;
    width: 64px;
    height: 64px;
    position: absolute;
    cursor: pointer;
    z-index: 67;
    right: 34px;
    bottom: 50px;
    pointer-events: none;
}

.pilipili-player-video-state .pilipili-player-video-state-play {
    margin-top: 10px;
}

.bp-svgicon, .bp-svgicon svg {
    width: 100%;
    height: 100%;
}

.bp-svgicon {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: fill .3s;
    transition: fill .3s;
    vertical-align: middle;
    display: inline-block;
    font-size: 0;
    cursor: pointer;
}

.img-play{
    width: 58px;
    height: 51px;
}

.pilipili-player-video-wrap .pilipili-player-video-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 14;
    background-color: #fff;
    cursor: pointer;
}

.pilipili-player-video-panel .pilipili-player-video-panel-image {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

.pilipili-player-video-panel .pilipili-player-video-panel-image .pilipili-player-video-panel-image-detail {
    display: inline-block;
    *zoom: 1;
    position: relative;
    margin-top: -50%;
    margin-left: -100%;
    width: 90px;
    height: 90px;
    background: transparent url("../img/img_panel.png") no-repeat 50%;
}

.pilipili-player-video-panel .pilipili-player-video-panel-text{
    display: block;
    position: absolute;
    margin-left: -54px;
}

/*.pilipili-player-video-wrap:hover .video-controls{
    bottom: 0;
}*/

.video{
    width: 100%;
    height: 100%;
    position: absolute;
}

.video-controls{
    display: flex;
    position: absolute;
    bottom: -30px;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.7);
}

.video-controls .buttons button{
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.video-controls .buttons .play-pause{
    padding: 10px;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 28px;
    color: #ffffff;
}

.video-controls .buttons .play-pause.play{
    background-image: url(../img/img_play.png);
}

.video-controls .buttons .play-pause.pause{
    background-image: url(../img/img_pause.png);
}

.video-controls .bar{
    height: 3px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
}

.video-controls .bar .juice{
    height: 3px;
    width: 100px;
    background-color: #00a1d6;
}

.pilipili-player-area .pilipili-player-video-bottom-area{
    display: block;
    margin-bottom: -1px;
    width: 100%;
    height: 46px;
    background: #f4f4f4;
}

.pilipili-player-video-sendbar {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px 0 20px;
    background: #fff;
    zoom: 1;
}

.pilipili-player-video-danmaku-root {
    height: 34px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bui {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bui-switch {
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    cursor: pointer;
}

.pilipili-player-video-danmaku-switch {
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 11px;
    cursor: pointer;
}

.bui-switch .bui-switch-input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    margin: 0;
    cursor: pointer;
    z-index: 1;
}

.pilipili-player-video-inputbar {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    height: 30px;
    line-height: 30px;
    background: #f4f4f4;
    color: #999;
    border-radius: 2px;
}

.pilipili-player-video-sendbar .pilipili-player-video-inputbar .pilipili-player-video-inputbar-wrap {
    width: 200px;
    border-radius: 2px 0 0 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid #e7e7e7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pilipili-player-video-sendbar .pilipili-player-video-inputbar .pilipili-player-video-danmaku-input {
    color: #212121;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: 0;
    height: 30px;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 12;
    padding: 0 5px;
    background: none;
    font-size: 12px;
    min-width: 115px;
    width: 100%;
}

.bui-button {
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    min-width: 68px;
    height: 24px;
    font-size: 12px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background: none;
    padding: 0;
    outline: none;
    color: inherit;
    text-align: inherit;
    line-height: inherit;
}

.bui-button.bui-button-blue {
    background-color: #00a1d6;
    color: #fff;
}

.pilipili-player-video-sendbar .pilipili-player-video-inputbar .pilipili-player-video-btn-send {
    z-index: 13;
    height: 30px;
    width: 60px;
    min-width: 60px;
    line-height: 30px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 2px 2px 0;
}

.v-wrap .video-toolbar {
    position: relative;
    margin-top: 16px;
    line-height: 30px;
    height: 28px;
    font-size: 14px;
    color: #505050;
    border-bottom: 1px solid #e5e9f0;
    padding-bottom: 12px;
}

.video-toolbar .ops {
    float: left;
    height: 24px;
    -ms-user-select: none;
    user-select: none;
}

.video-toolbar .ops>span {
    width: 92px;
    margin-right: 8px;
    cursor: pointer;
    transition: all .3s;
    display: inline-block;
    white-space: nowrap;
    color: #505050;
    position: relative;
}

.video-toolbar .ops>span i {
    font-size: 28px;
    vertical-align: top;
    margin-right: 6px;
    width: 28px;
    height: 28px;
    color: #757575;
}

.van-icon{
    width: 28px;
    height: 28px;
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.video-toolbar .appeal-text {
    float: right;
    cursor: pointer;
    font-size: 12px;
    margin-right: 16px;
    color: #505050;
    transition: color .3s;
}

.v-wrap .video-desc {
    margin-top: 16px;
    position: relative;
}

.video-desc .info {
    white-space: pre-line;
    transition: all .3s;
    font-size: 12px;
    color: #212121;
    letter-spacing: 0;
    line-height: 18px;
    height: 63px;
    width: 573px;
    overflow: initial;
}

.v-wrap .comment {
    margin-top: 20px;
    z-index: 0;
    position: relative;
}

.comment .b-head {
    font-size: 18px;
    line-height: 24px;
    color: #222;
    margin: 0 0 20px;
}

.comment .b-head .results {
    margin-right: 10px;
}

.comment .b-content{
    position: relative;
}

.bb-comment, .comment-pilipili-fold {
    font-family: Microsoft YaHei,Arial,Helvetica,sans-serif;
    font-size: 0;
    zoom: 1;
    min-height: 100px;
    background: #fff;
}

.bb-comment *, .comment-pilipili-fold * {
    box-sizing: content-box;
}

.bb-comment .comment-header, .comment-pilipili-fold .comment-header {
    margin: 0 0 24px;
    border-bottom: 1px solid #e5e9ef;
}

.bb-comment .comment-send, .comment-pilipili-fold .comment-send {
    margin: 10px 0;
}

.bb-comment .comment-send .user-face, .comment-pilipili-fold .comment-send .user-face {
    float: left;
    margin: 7px 0 0 5px;
    position: relative;
}

.bb-comment img, .comment-pilipili-fold img {
    border: none;
    vertical-align: middle;
}

.bb-comment .comment-send .user-face .user-head, .comment-pilipili-fold .comment-send .user-face .user-head {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.bb-comment .comment-list .list-item .user-face img, .comment-pilipili-fold .comment-list .list-item .user-face img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: 10px;
}

.bb-comment .comment-send .textarea-container, .comment-pilipili-fold .comment-send .textarea-container {
    position: relative;
    margin-left: 85px;
    margin-right: 80px;
}

.bb-comment textarea, .comment-pilipili-fold textarea {
    outline: none;
    resize: none;
}

.bb-comment .comment-send .textarea-container textarea, .comment-pilipili-fold .comment-send .textarea-container textarea {
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f4f5f7;
    border: 1px solid #e5e9ef;
    overflow: auto;
    border-radius: 4px;
    color: #555;
    width: 100%!important;
    height: 65px;
    transition: 0s;
    padding: 5px 10px;
    line-height: normal;
}

.bb-comment button, .comment-pilipili-fold button {
    box-sizing: border-box;
}

.bb-comment .comment-send .comment-submit, .comment-pilipili-fold .comment-send .comment-submit {
    width: 70px;
    height: 64px;
    position: absolute;
    right: -80px;
    top: 0;
    padding: 4px 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    min-width: 60px;
    vertical-align: top;
    cursor: pointer;
    background-color: #00a1d6;
    border: 1px solid #00a1d6;
    transition: .1s;
    user-select: none;
    outline: none;
}

.bb-comment .comment-list, .comment-pilipili-fold .comment-list {
    padding-top: 20px;
}

.bb-comment .comment-list .list-item .con, .comment-pilipili-fold .comment-list .list-item .con {
    position: relative;
    margin-left: 85px;
    padding: 22px 0 14px;
    border-top: 1px solid #e5e9ef;
}

.bb-comment .comment-list .list-item .user, .comment-pilipili-fold .comment-list .list-item .user {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 4px;
    display: block;
    word-wrap: break-word;
    position: relative;
}

.bb-comment .comment-list .list-item .user>a, .comment-pilipili-fold .comment-list .list-item .user>a {
    vertical-align: middle;
    color: #6d757a;
    text-decoration: none;
}

.bb-comment p, .comment-pilipili-fold p {
    margin: 0;
    padding: 0;
}

bb-comment .comment-list .list-item .text, .comment-pilipili-fold .comment-list .list-item .text {
    line-height: 20px;
    padding: 2px 0;
    font-size: 14px;
    text-shadow: none;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
}

.bb-comment .comment-list .list-item .info, .comment-pilipili-fold .comment-list .list-item .info {
    color: #99a2aa;
    line-height: 26px;
    font-size: 12px;
}

.bb-comment .comment-list .list-item .info>span, .comment-pilipili-fold .comment-list .list-item .info>span {
    margin-right: 20px;
}

.bb-comment .comment-list .list-item .info .like, .comment-pilipili-fold .comment-list .list-item .info .like {
    cursor: pointer;
}

.bb-comment .comment-list .list-item .info .like i, .comment-pilipili-fold .comment-list .list-item .info .like i {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
    margin-right: 5px;
    background: no-repeat;
    background-position: -153px -25px;
}

.bb-comment .comment-list .list-item .info .btn-hover, .comment-pilipili-fold .comment-list .list-item .info .btn-hover {
    padding: 0 5px;
    border-radius: 4px;
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
}

.bb-comment .comment-list .list-item .info .btn-hover:hover, .comment-pilipili-fold .comment-list .list-item .info .btn-hover:hover {
    color: #00a1d6;
    background: #e5e9ef;
}

.bb-comment .comment-list .list-item .reply-box .reply-item, .comment-pilipili-fold .comment-list .list-item .reply-box .reply-item {
    padding: 10px 0;
}

.bb-comment .comment-list .list-item .reply-box .reply-item .reply-face, .comment-pilipili-fold .comment-list .list-item .reply-box .reply-item .reply-face {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    vertical-align: top;
    top: 0px;
}

.bb-comment .comment-list .list-item .reply-box .reply-item .reply-face img, .comment-pilipili-fold .comment-list .list-item .reply-box .reply-item .reply-face img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.bb-comment .comment-list .list-item .reply-box .reply-item .reply-con, .comment-pilipili-fold .comment-list .list-item .reply-box .reply-item .reply-con {
    display: inline-block;
    width: calc(100% - 34px);
}

.vip-red-name {
    color: #fb7299!important;
}

.bb-comment .comment-list .list-item .reply-box .reply-item .reply-con .user .name, .comment-pilipili-fold .comment-list .list-item .reply-box .reply-item .reply-con .user .name {
    position: relative;
    top: -1px;
}

.bb-comment .comment-list .list-item .user .text-con, .comment-pilipili-fold .comment-list .list-item .user .text-con {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
}

.bb-comment .comment-list .list-item .reply-box .reply-item .info, .comment-pilipili-fold .comment-list .list-item .reply-box .reply-item .info {
    margin-left: 34px;
}

.v-wrap .r-con {
    width: 320px;
    -ms-flex: none;
    flex: none;
    margin-left: 30px;
}

.v-wrap .r-con a{
    text-decoration: none;
}

.bb-comment .comment-list .user-face,.bb-comment .comment-list .con{
    display: inline-block;
    position: absolute;
}

.up-info .u-face {
    float: left;
    width: 48px;
    height: 48px;
    position: relative;
}

.up-info .u-face .fa {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f4f5f7;
}

.up-info .u-face .up-face {
    background: #f9f9f9;
    width: 48px;
    height: 48px;
}

.up-info .u-info {
    margin-left: 16px;
    float: left;
}

.up-info .u-info .name {
    font-size: 14px;
    color: #00a1d6;
    line-height: 20px;
    height: 20px;
}

.up-info .u-info .name .username {
    font-size: 14px;
    color: #212121;
    font-weight: 500;
    display: inline-block;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

.up-info .u-info .desc {
    margin-top: 4px;
    width: 256px;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.up-info .btn-panel {
    clear: both;
    display: -ms-flexbox;
    display: flex;
    margin-left: 63px;
    white-space: nowrap;
}

.up-info .btn-panel .default-btn {
    box-sizing: border-box;
    padding: 0;
    line-height: 32px;
    height: 32px;
    border-radius: 2px;
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.up-info .btn-panel .following {
    color: #999;
    border: 1px solid #e7e7e7;
    background: #e7e7e7;
    width: 156px;
}

.up-info .btn-panel .not-follow {
    background: #00a1d6;
    color: #fff;
    width: 156px;
}

.like img{
    width: 14px;
    height: 14px;
    vertical-align: baseline;
}

.bb-comment .comment-list .list-item .text, .comment-pilipili-fold .comment-list .list-item .text {
    line-height: 20px;
    padding: 2px 0;
    font-size: 14px;
    text-shadow: none;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
}

.unlike{

}

.liked{

}

.unstow{

}

.stowed{

}

